@charset "UTF-8";
:root {
  --primary-color: blue;
  --dark-blue-color: #1b4668;
  --danger-color: red;
  --success-color: green;
  --warning-color: yellow;
  --dark-color: black;
  --white-color: white;
  --secondary-color: gray;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

.header {
  background-color: var(--dark-color);
}

.contents {
  width: 90%;
  margin: 0 auto;
}
